@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(
    circle,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.pseudo_content {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: inherit;
  border-radius: 100%;
  z-index: -100;
}
.gestureShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: transform 0.5s ease;
}

.bg-img {
  background: url("/images/bg-triangle.svg") no-repeat;
  background-size: 300px 300px;
  background-position: center;
}

.image {
  @apply transition-all    ease-out  rounded-full flex items-center justify-center shadow-[inset_0px_3px_1px_3px_rgba(0,0,0,0.2)] cursor-pointer  relative;
}

.image::after {
  @apply pseudo_content -bottom-7;
}

.image:hover {
}
.image:active {
  @apply shadow-[inset_0px_3px_1px_3px_rgba(0,0,0,0.1)];
}
.image:active::after {
  @apply hidden;
}

.boxShadow {
  --shadow-20px: 0 0 0 40px hsla(0, 0%, 83%, 0.026);
  --shadow-50px: 0 0 0 80px hsla(0, 0%, 83%, 0.026);
  --shadow-80px: 0 0 0 120px hsla(0, 0%, 83%, 0.026);
  box-shadow: var(--shadow-20px), var(--shadow-50px), var(--shadow-80px);
  animation: shadow 1s ease-in-out infinite;
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: var(--shadow-20px), var(--shadow-50px), var(--shadow-80px);
  }
  100% {
    box-shadow: none;
  }
}

.modal::before {
  @apply content-[''] w-full h-full z-[2] bg-[#00000096]  absolute top-0 left-0;
}

.abs {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

/* Rules Btn style */
.rulesBtn {
  @apply border-2 border-outlineColor px-10 py-2 rounded-xl hover:bg-scoreColor ease-in-out uppercase;
}

/* Media query App */

.mediaApp {
  @apply sm:p-7  md:p-8 lg:p-10 p-6;
}

/* Media query Header */

.mediaHeader {
  @apply sm:w-11/12 md:w-10/12 lg:w-7/12 sm:h-32 md:h-36 lg:h-40  w-full h-24;
}
.mediaLogo {
  @apply sm:p-5 sm:text-2xl md:text-3xl lg:text-4xl text-lg;
}
.mediaLogo span {
  @apply sm:leading-5 md:leading-6 lg:leading-7 leading-4;
}
.mediaScoreWrap {
  @apply sm:px-8 md:px-10 lg:px-12 px-6 py-2;
}
.mediaScore {
  @apply sm:text-xs md:text-sm text-[8px];
}
.mediaPoints {
  @apply sm:text-5xl md:text-6xl lg:text-7xl text-4xl;
}

/* Media query GestureSelection */

.mediaGestWrap {
  @apply sm:scale-[0.8] lg:scale-[1] scale-[0.6] sm:mt-40 mt-28;
}

/* Media query DisplayResult */
.mediaResultGrid {
  @apply grid sm:grid-cols-[repeat(3,_minmax(180px,_180px))] md:grid-cols-[repeat(3,_minmax(200px,_200px))] lg:grid-cols-[repeat(3,_minmax(250px,_250px))]  grid-cols-1 max-w-4xl mx-auto items-center justify-between  mt-24;
}

.mediaGestItem {
  @apply relative sm:w-[180px] sm:h-[180px] md:w-[200px] md:h-[200px] lg:w-[250px] lg:h-[250px] w-[150px] h-[150px];
}

.mediaGestText {
  @apply sm:text-[20px] text-[13px];
}

/* Media query Rules */

.mediaRulesBg {
  @apply sm:w-auto sm:h-auto w-full h-full sm:rounded-xl rounded-none;
}

.mediaRulesImg {
  @apply sm:relative absolute sm:left-0 sm:top-0 left-1/2 top-1/2 sm:-translate-x-0 sm:-translate-y-0 sm:w-full w-[80%] -translate-x-1/2 -translate-y-1/2 z-10;
}
