@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.pseudo_content {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 100%;
}

.bg-img {
  background: url("/images/bg-triangle.svg") no-repeat;
  background-size: auto;
  background-position: center center;
}

.image {
  @apply transition-all rotate-[20deg] z-[1]  duration-200 ease-out bg-[white]  rounded-full flex items-center justify-center  shadow-[inset_0px_3px_1px_3px_rgba(0,0,0,0.2)] cursor-pointer  relative;
}

.image::before {
  @apply pseudo_content  transition-all ease-in-out duration-200 shadow-[inset_0px_-4px_1px_4px_rgba(0,0,0,0.3)];
}
.image::after {
  @apply pseudo_content shadow-[inset_0px_8px_6px_3px_rgba(255,255,255,0.2)];
}
.image:hover {
  @apply rotate-0;
}
.image:active {
  @apply shadow-[inset_0px_3px_1px_3px_rgba(0,0,0,0.1)];
}
.image:active::after {
  @apply pseudo_content shadow-[0px_0px_4px_1px_rgba(0,0,0,0.4)];
}
.image:active::before {
  @apply pseudo_content  shadow-[inset_0px_0px_7px_6px_rgba(0,0,0,0.2)];
}
.boxShadow {
  --shadow-20px: 0 0 0 40px hsla(0, 0%, 83%, 0.026);
  --shadow-50px: 0 0 0 80px hsla(0, 0%, 83%, 0.026);
  --shadow-80px: 0 0 0 120px hsla(0, 0%, 83%, 0.026);
  box-shadow: var(--shadow-20px), var(--shadow-50px), var(--shadow-80px);
  animation: shadow 1s ease-in-out infinite;
}
@keyframes shadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: var(--shadow-20px), var(--shadow-50px), var(--shadow-80px);
  }
  100% {
    box-shadow: none;
  }
}
.modal::before {
  @apply content-[''] w-full h-full z-[2] bg-[#00000096] absolute top-0 left-0;
}
